{% extends "base.html" %}
{% load static %}

{% block content %}
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
{#      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">#}
{#          <div class="row">#}
          <h1 class="h2">Edit plant</h1>
{#            </div>#}
            <div class="row">
                <div class="col">
                <form action="#" method="post" class="form-group form-text">
                {% csrf_token %}
                {{ form.name.label }}<br>
                {{ form.name }}<br>
{#                {{ form.name.errors }}<br>#}
                {{ form.species.label }}<br>
                {{ form.species }}<br>
                {{ form.strength.errors }}<br>
                {{ form.bee_mother.label }}<br>
                {{ form.bee_mother }}<br>
                {{ form.bee_mother.errors }}<br>
                {{ form.bee_hive.label }}<br>
                {{ form.bee_hive }}<br>
                {{ form.bee_hive.errors }}<br>
                {{ form.user.as_hidden }}
                <input type="submit" value="Save">
                </form>
                </div>
            </div>
{#      </div>#}
    </main>
{% endblock %}